<div id="divText" class="d-none sm">
    <div id="textBoard" class="text-bg-dark overflow-auto"></div>
    <input type="text" id="msj" class="form-control text-bg-dark">
</div>

<div id="divName" class="alert alert-primary ">
    <p>Introduce tu nombre para comenzar a chatear</p>
    <input type="text" id="alias">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>