body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#divText {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#textBoard {
    width: 400px;
    height: 400px;
    border-radius: 5%;
    border: solid 2px white;
    margin-top: 5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#msj {
    width: 400px;
    border: solid 2px white;
}

.none {
    display: none;
}

#divName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

@media (max-width: 768px) {
    #textBoard{
        width: 250px;
    }
    #msj{
        width: 250px;
    }
}